<div class="container">
    <div class="buttons-container">
        <button class="button" *ngFor="let button of buttons">
            {{ button.text }}
        </button>
    </div>
    <div class="main-container">
        <app-user-info></app-user-info>
    </div>
</div>
<!-- 
  <form>
    <input type="text" id="input1" placeholder="input1" name="input1" required>
    
    <input type="text" id="input2" placeholder="input2" name="input2" required>
    
    <input type="text" id="input3" placeholder="input3" name="input3" required>
    
    <input type="text" id="input4" placeholder="input4" name="input4" required>
    
    <button type="submit">Submit</button>
  </form> -->