<!-- <div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
    <img [src]="tour.image" [alt]="tour.name" class=" h-full mr-4 w-1/6 mb-2 ">
    <h2 class="mb-2 text-md text-center">{{tour.name}}</h2>
    <p class="mb-2 text-gray-600">{{tour.description}}</p>
    <p>Вартість: <span class="font-bold">{{tour.dayCost}}</span></p>
</div> -->

<!-- <div class="flex items-start bg-white rounded-lg shadow-lg p-4 mb-5">
    <img src="{{tour.image}}" alt="{{tour.name}}" class="h-24 w-1/3 object-cover object-center rounded-full mr-4 aspect-w-4 aspect-h-3">
    <div>
      <h2 class="text-lg font-semibold mb-2">{{tour.name}}</h2>
      <p class="mb-2 text-gray-600">{{tour.description}}</p>
      <p class="text-gray-600">Вартість: <span class="font-bold text-indigo-500">{{tour.dayCost}}</span></p>
    </div>
  </div>
   -->
   <!-- <div class="bg-white rounded-lg overflow-hidden shadow-md">
    <img [src]="tour.image" [alt]="tour.name" class="w-full h-48 object-cover">
    <div class="px-4 py-2">
        <h2 class="text-xl font-bold text-gray-800">{{tour.name}}</h2>
        <p class="text-gray-600 mt-2">{{tour.description}}</p>
        <p class="text-lg font-semibold mt-2">Вартість: <span class="text-green-500">{{tour.dayCost}}</span></p>
    </div>
</div> -->
<!-- 
<div class="bg-white rounded-lg overflow-hidden shadow-md">
    <img [src]="tour.image" [alt]="tour.name" class="w-full object-cover transition duration-500 ease-in-out h-64">
    <div class="px-4 py-2">
        <h2 class="text-xl font-bold text-gray-800">{{tour.name}}</h2>
        <p class="text-gray-600 mt-2">{{tour.description}}</p>
        <p class="text-lg font-semibold mt-2">Вартість: <span class="text-green-500">{{tour.dayCost}}</span></p>
    </div>
</div> -->
<!-- <div class="bg-gray-800 p-6 rounded-lg shadow-md mb-5">
    <img [src]="tour.image" [alt]="tour.name" class="w-full object-cover transition duration-500 ease-in-out h-52">
    <h2 class="text-xl font-bold text-white mt-4">{{tour.name}}</h2>
    <p class="text-gray-300 mt-2">{{tour.description}}</p>
    <p class="text-lg font-semibold text-green-500 mt-2">Вартість: <span class="">{{tour.dayCost}}</span></p>
</div> -->
<div class="tour-card">
    <img [src]="tour.image" [alt]="tour.name" class="tour-card__image">
    <h2 class="tour-card__title">{{tour.name}}</h2>
    <p class="tour-card__description">{{tour.description}}</p>
    <p class="tour-card__price">Ціна: <span class="tour-card__price-value">{{tour.dayCost}}</span> грн/день</p>
  </div>
