<app-header (loginClicked)="openModal()" 
(registClicked)="openRegistModal()"
(personalClicked)="openPersonalModal()"
[authorized]="authorized"></app-header>
<app-global-error></app-global-error>
<div class="max-w-2xl container, mx-auto pt-5">
  <p *ngIf="loading" class="text-center text-lg ">Loading</p>

  <div *ngIf="tours$ | async as tours"> 
    <app-product *ngFor="let tour of tours; let i = index" [tour]="tour"></app-product>
  </div>

   <app-modal (closeClicked)="closeModal()" *ngIf="modalHeading !== '' " [title]="modalHeading" >
    <app-login *ngIf="modalHeading === 'Авторизація'"></app-login>
    <app-regist *ngIf="modalHeading === 'Регістрація'"></app-regist>
    <app-office *ngIf="modalHeading === 'Особистий кабінет'"></app-office>
  </app-modal> 
</div>
